<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/self/layout.css")
    @RenderSection("Style")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="top"></div>
        <div class="nav">
            <ul>
                <li>
                    <a href="~/Home/Index">网站首页</a>
                </li>
                <li>
                    <a href="~/Views/Home/Index.cshtml">最新公告</a>
                </li>
                <li>
                    <a href="~/Views/Home/Index.cshtml">新闻动态</a>
                </li>
                <li>
                    <a href="~/Views/Home/Index.cshtml">学术研讨</a>
                </li>
                <li>
                    <a href="~/Views/Home/Index.cshtml">论文报告</a>
                </li>
                <li>
                    <a href="~/Views/Home/Index.cshtml">课题申请</a>
                </li>
                <li>
                    <a href="~/Home/About">关于机构</a>
                </li>
            </ul>
        </div>
    </header>
    @RenderSection("ContentBody")

    <hr />

    <footer>
        <p>&copy; @DateTime.Now.Year 版权所有 北京睿达和泰有限责任公司</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Script")
</body>
</html>
